body{
  background-color: black;
  text-align: center;
}
div{
  font-size: 3vw;
  font-family: scary;
}
.piano-holder{
  border-top: coral 0.4vw solid;
  border-bottom: coral 0.4vw solid;
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: black;
  text-align: center;
  justify-content: center;
}
.key{
  padding: 1vw;
  display: inline-block;
}
.key:hover{
  cursor: pointer;
  color: coral;
}

.white{
  width: 3.5vw;
  height: 14vw;
  background-color: white;
}
.white:hover{
  cursor: pointer;
  color: coral;
}
h1{
  font-size: 5vw;
  font-family: scary2;
  color: rgb(171, 235, 198);

}
a{
  margin: 0.8vw;
  font-size: 3vw;
  color: white;
  font-family: scary;
}
a:hover{
  color: coral;
  cursor: pointer;
}
span{
  font-family: scary1;
  font-size: 1vw;
}
#greatest-hits{
  padding-right: 20%;
  margin-top: 0;
  font-size: 4vw;
}
@font-face{
  src: url(fonts/What\ is\ this\ -\ some\ kind\ of\ joke.ttf);
  font-family: 'scary';
}
@font-face{
  src: url(fonts/TheyPerished.ttf);
  font-family: 'scary2';
}
@keyframes hauntedEffect{
  0% {padding: 0%;}
  15%{ padding: 5%}
  30% {padding: 7%}
  45% {padding: 1.1%}
  50% {padding: 0%}
  55% {padding: 0.5%}
}

@keyframes flashColors {
  0%   {background-color: white; opacity: 1;}
  7.5% {background-color: black;}
  15% {background-color: white;}
  22.5% {background-color: black;}
  35% {background-color: white;}
  45%  {background-color: white;}
  50%  {background-color: chocolate}
  55% {background-color: rgb(51, 255, 153);}
  60% {background-color: rgb(255, 102, 255)}
  67.5% {background-color: rgba(255, 102, 255, 0.5) }
  70% {background-color: rgba(255, 102, 255, 0.9);}
  75% {background-color: chocolate;}
  80% {background-color: black;}
  82.5% {background-color: white;}
  85% {background-color: black;}
  87.5% {background-color: white;}
  95% {background-color: black;}
  100% {background-color: white;}
}


