@keyframes flashbackground-colors {
  0%   {background-color: white; opacity: 1;}
  45%  {background-color: white;}
  55%  {background-color: chocolate}
  55% {background-color: rgb(51, 255, 153);}
  60% {background-color: rgb(255, 102, 255)}
  67.5% {background-color: rgba(255, 102, 255, 0.5) }
  70% {background-color: rgba(255, 102, 255, 0.9);}
  75% {background-color: chocolate;}
  80% {background-color: black;}
  82.5% {background-color: white;}
  85% {background-color: black;}
  87.5% {background-color: white;}
  95% {background-color: black;}
  100% {background-color: white;}
}
