
.black{
  margin: 1.45%;
  width: 0.75vw;
  height: 10.39vw;
  font-size: 60%;
  background-color: black;

}
.missing-key{
  opacity: 0;
  pointer-events: none;
}
.black-keys-holder{
  background-color: transparent;
  position: absolute;
  top: 8.3vw;
  left: 5.75vw;


}
